header {
  background: linear-gradient(to right, #EB001C, #FFFFFF, #0145ED);
  font-weight: 600;
  padding: 10px;
  box-shadow: 0 0 15px black;
  color: #ffffee;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    text-shadow: 0 0 7px black;
  }

  #siteLogo {
    width: 30%;
  }

  #menu {
    font-size: 2rem;
    padding-inline-end: 10px;
  }
}
